.login-box{
   
    align-items: center;
    justify-content: center;
}


.signin text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border: 2px solid red;
}
.signinwith-other{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
.signinwith-other button{
   margin-right: 10px;
   padding: 5px 15px;
   border-radius: 8px;
}
.facebook{
    background-color: rgb(28, 28, 133);
    color: white;
}